@model UserOptionsViewModel



<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="/images/dotnetbot1.webp" alt="" height="100">
    <h1 class="display-5 fw-bold">Welkom @ViewData["userName"]</h1>

</div>

