@model UserLoginViewModel

@{
    ViewData["Title"] = "Login";
}

    <div class="row align-items-center g-lg-5 py-1 py-lg-5 mx-2">

        <div class=" col-3 mx-auto col-lg-5">
            <img src="/images/dotnetbot2.webp" class="d-none d-lg-block mx-lg-auto img-fluid" alt="dotnetbot"
                 width="400" height="400" loading="lazy">
        </div>

        <div class="col-md-10 mx-auto col-lg-6 col-xl-7 col-xxl-7mb-3">
            <p class="text-center my-3">
            <img src="/images/dotnetbot2.webp" class="d-inline-block d-lg-none img-fluid" alt="dotnetbot"
                 width="80" height="80">
            <span class="ms-3 fs-4 d-inline-block my-2">Aanmelden in Mediko</span>
        </p>
            <form class="p-4 p-md-5 border rounded-3 bg-light form-signin" asp-action="Login" method="post">

                <div style="min-height:160px">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="UserName" class="form-control">
                        <label for="floatingInput">Gebruikersnaam</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="password" asp-for="Password" class="form-control">
                        <label for="floatingPassword">Wachtwoord</label>
                    </div>
                    @Html.ValidationMessage("LoginError", new{@class="text-danger"})
                    <span asp-validation-for="UserName" class="d-block text-danger"></span>
                    <span asp-validation-for="Password" class="d-block text-danger"></span>
                    @*<div asp-validation-summary="All"></div>*@
                </div>

                <div class="mt-4">
                    <input class="btn btn-primary" type="submit" value="Inloggen" />
                    <a asp-action="Register" class="btn btn-secondary ms-2">Registreren</a>
                </div>

            </form>
        </div>
    </div>

