@model string



    <li> <hr class="dropdown-divider"> </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
           aria-expanded="false">
            <svg class="bi" fill="currentColor">
                <use xlink:href="../icons/bootstrap-icons.svg#person-circle"></use>
            </svg>
            @*<img class="avatar" src="~/icons/person-circle.svg" />*@
            <span>@Model</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" asp-action="Logout" asp-controller="User">Afmelden</a></li>
            <li> <hr class="dropdown-divider"> </li>
            @*<li><a class="dropdown-item" href="#">Demo bekijken</a></li>*@
            <li><a class="dropdown-item" asp-action="Options" asp-controller="User">Instellingen</a></li>
            @await Component.InvokeAsync("NavbarSecurityMenu")
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Info" asp-controller="Home">Info</a>
    </li>


