<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MedikoWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="false" />
    <link rel="stylesheet" href="~/icons/bootstrap-icons.css" asp-append-version="false" />
    @*<link rel="stylesheet" href="~/MedikoWeb.styles.css" asp-append-version="true" />*@
</head>

<body>

    <!-- new header -->
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bgmed">
            <div class="container-fluid">

                <a class="navbar-brand ms-4" asp-action="Index" asp-controller="Home">
@*                    <svg class="bi logo" fill="currentColor">
                        <use xlink:href="/icons/bootstrap-icons.svg#heart-pulse-fill"></use>
                    </svg>*@
                    <i class="bi bi-heart-pulse-fill logo"></i>
                    <span>Mediko</span>
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarCollapse" 
                        aria-controls="navbarCollapse" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse ms-4" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">@await Component.InvokeAsync("NavbarDataMenu")</ul>
                    <ul class="navbar-nav ms-auto  mb-2 mb-md-0">@await Component.InvokeAsync("NavbarUserMenu")</ul>
                </div>

            </div>
        </nav>
    </header>




    <div class="container-xxl">
        <main role="main" class="pb-3 my-4">
            @RenderBody()
        </main>
    </div>


      <!-- Footer new -->
    <footer class="footer d-none d-sm-flex flex-wrap justify-content-between align-items-center py-2 mt-4  border-top">
        <div class="ms-4 col-sm-6 d-flex align-items-center">

            <span class=" my-2 text-muted">&copy; 2022 - Mediko Beta 0.22 
                <span class="d-none d-md-inline">- Rafal Kowalski</span>   </span>
        </div>
        
        <ul class="col-2 justify-content-end list-unstyled d-flex me-4 my-2">

            <li class="ms-3">
                <a class="fs-4 my-1" href="https://github.com/rafalhogent/Mediko">
                    <i class="bi bi-github" ></i></a></li>
        </ul>
    </footer>
    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>



</html>
