@model DataMenuViewModel

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button"
           data-bs-toggle="dropdown"
           aria-expanded="false">
            Gezondheid logs
        </a>
        <ul class="dropdown-menu">
            @{
                foreach (var logbook in Model.ChoosenLogbooks)
                {
                    <li><a class="dropdown-item">@logbook.Name</a></li>
                }
            }

            <li> <hr class="dropdown-divider"> </li>
            <li><a class="dropdown-item" href="#">Instellingen</a></li>
        </ul>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
           aria-expanded="false">
            Diet
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Vandaag</a></li>
            <li><a class="dropdown-item" href="#">Samenvatting</a></li>
            <li><a class="dropdown-item" href="#">Voeding databank</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Diet Instellingen</a></li>
        </ul>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
           aria-expanded="false">
            Medicatie
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Medicatie schama's</a></li>
            <li><a class="dropdown-item" href="#">Medicatie's</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
    </li>




