
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button"
           data-bs-toggle="dropdown"
           aria-expanded="false">
            Gezondheid logs
        </a>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item" href="#">
                    Gewicht
                </a>
            </li>
            <li><a class="dropdown-item" href="#">Bloeddruk</a></li>
            <li><a class="dropdown-item" href="#">Water</a></li>
            <li><a class="dropdown-item" href="#">Temperature</a></li>
            <li><a class="dropdown-item" href="#">Glucose</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Logger Instellingen</a></li>
        </ul>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
           aria-expanded="false">
            Diet
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Vandaag</a></li>
            <li><a class="dropdown-item" href="#">Samenvatting</a></li>
            <li><a class="dropdown-item" href="#">Voeding databank</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Diet Instellingen</a></li>
        </ul>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
           aria-expanded="false">
            Medicatie
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Medicatie schama's</a></li>
            <li><a class="dropdown-item" href="#">Medicatie's</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
    </li>




