@model LogBookViewModel

@{
    ViewData["Title"] = "Nieuw Logboek - Mediko";
}

<h3>
    <a class="btn btn-sm btn-secondary mb-1" asp-action="Options" asp-controller="User">
        <i class="bi bi-arrow-left-square"></i>     </a>
    Nieuw logboek</h3>

<hr />
<div class="row">
    <div class="col-lg-9">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="row  mb-3">
                <div class="col ">
                    <label asp-for="Field1" class="control-label"></label>
                    <input asp-for="Field1" class="form-control" />
                    <span asp-validation-for="Field1" class="text-danger"></span>
                </div>

                <div class="col">
                    <label asp-for="Unit1" class="control-label"></label>
                    <input asp-for="Unit1" class="form-control" />
                    <span asp-validation-for="Unit1" class="text-danger"></span>
                </div>
            </div>

            <div class="row  mb-3">

                <div class="col">
                    <label asp-for="Field2" class="control-label"></label>
                    <input asp-for="Field2" class="form-control" />
                    <span asp-validation-for="Field2" class="text-danger"></span>
                </div>

                <div class="col">
                    <label asp-for="Unit2" class="control-label"></label>
                    <input asp-for="Unit2" class="form-control" />
                    <span asp-validation-for="Unit2" class="text-danger"></span>
                </div>

            </div>

            <div class="row  mb-3">

                <div class="col">
                    <label asp-for="Field3" class="control-label"></label>
                    <input asp-for="Field3" class="form-control" />
                    <span asp-validation-for="Field3" class="text-danger"></span>
                </div>

                <div class="col">
                    <label asp-for="Unit3" class="control-label"></label>
                    <input asp-for="Unit3" class="form-control" />
                    <span asp-validation-for="Unit3" class="text-danger"></span>
                </div>

            </div>

            <div class="col-6 col-md-3 mb-3">
                <label asp-for="Precision" class="control-label"></label>
                <input asp-for="Precision" class="form-control" value="0" />
                <span asp-validation-for="Precision" class="text-danger"></span>
            </div>

            <div class="form-group my-3">
                <input type="submit" value="Aanmaken" class="btn btn-primary" />
                @*<a class="btn btn-secondary" asp-action="Index">Terug</a>*@
            </div>

        </form>
    </div>
</div>



