@model LogBookViewModel
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Logbook</h2>

<hr />
<div class="container mb-3">
    <div class="container">
        <div class="col-md-10 col-xl-6 mb-5">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                <div class="mb-3">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="row  mb-3">
                    <div class="col ">
                        <label asp-for="Field1" class="control-label"></label>
                        <input asp-for="Field1" class="form-control" />
                        <span asp-validation-for="Field1" class="text-danger"></span>
                    </div>

                    <div class="col">
                        <label asp-for="Unit1" class="control-label"></label>
                        <input asp-for="Unit1" class="form-control" />
                        <span asp-validation-for="Unit1" class="text-danger"></span>
                    </div>
                </div>

                <div class="row  mb-3">

                    <div class="col">
                        <label asp-for="Field2" class="control-label"></label>
                        <input asp-for="Field2" class="form-control" />
                        <span asp-validation-for="Field2" class="text-danger"></span>
                    </div>

                    <div class="col">
                        <label asp-for="Unit2" class="control-label"></label>
                        <input asp-for="Unit2" class="form-control" />
                        <span asp-validation-for="Unit2" class="text-danger"></span>
                    </div>

                </div>

                <div class="row  mb-3">

                    <div class="col">
                        <label asp-for="Field3" class="control-label"></label>
                        <input asp-for="Field3" class="form-control" />
                        <span asp-validation-for="Field3" class="text-danger"></span>
                    </div>

                    <div class="col">
                        <label asp-for="Unit3" class="control-label"></label>
                        <input asp-for="Unit3" class="form-control" />
                        <span asp-validation-for="Unit3" class="text-danger"></span>
                    </div>

                </div>

                <div class="col-6  mb-3">
                    <label asp-for="Precision" class="control-label"></label>
                    <input asp-for="Precision" class="form-control" />
                    <span asp-validation-for="Precision" class="text-danger"></span>
                </div>

                <div class="form-group my-3">
                    <input type="submit" value="Opslaan" class="btn btn-primary" />
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@Model.Id">
                        <i class="bi bi-trash-fill icon"></i>Verwijderen</a>
                    <a class="btn btn-secondary" asp-action="Index">Terug</a>
                </div>

                @* <div class="form-group">
                <label asp-for="IconUrl" class="control-label"></label>
                <input asp-for="IconUrl" class="form-control" />
                <span asp-validation-for="IconUrl" class="text-danger"></span>
                </div>*@

            </form>
        </div>
    </div>

    <div>
        
    </div>

</div>

