<div class="container">
    <h4>
        Mediko Beta 0.21
    </h4>

    <h4>
        <a class="fs-4 my-1" href="https://github.com/rafalhogent/Mediko">
            <i class="bi bi-github icon"></i>github
        </a>
    </h4>
</div>