<div class="container">
    <h4 class="mb-3">
        <img src="/images/dotnetbot1.webp" alt="dotnet bot" height="80" />
        Mediko Beta 0.22
    </h4>

    <h4 class="fs-4 my-1">
        <a href="https://github.com/rafalhogent/Mediko">
            <i class="bi bi-github icon"></i>github
        </a>
    </h4>
    <div class="mt-5">
        <h5>Gebruikte technologieen:</h5>
        <dl class="row my-3">
            <dt><a href="https://dotnet.microsoft.com/en-us/apps/aspnet">
                        <i class="bi bi-code-square icon"></i>Microsoft ASP.NET Core MVC 6</a></dt>
            <dt><a href="https://dotnet.microsoft.com/en-us/apps/aspnet">
                        <i class="bi bi-code-square icon"></i>Microsoft ASP.NET Core Identity</a></dt>
            <dt><a href="https://learn.microsoft.com/en-us/aspnet/entity-framework">
                        <i class="bi bi-code-square icon"></i>Microsoft SQL Server</a></dt>            
            <dt>
                <a href="https://www.microsoft.com/en-us/sql-server/">
                        <i class="bi bi-code-square icon"></i>Microsoft Entity Framework Core</a></dt>
            <dt><a href="https://getbootstrap.com/"><i class="bi bi-bootstrap-fill icon"></i>Bootstrap 5.2</a></dt>
        </dl>
    </div>

</div>